<!DOCTYPE HTML>
<h1> List of Groceries! </h1>
  <body>
      <% @list.each do |grocery_item| %>
        <ul>
          <li> <%= grocery_item[0] %> </li>
        </ul>
      <% end %>
    <h2> Groceries! </h2>
      <form action= "/grocery-list" method= "post">
        <label for= "name"> Name: </label>
        <input type="text" name="name" id="name">
        <button name="add" type="submit" value="Add"> Add </button>
      </form>
  </body>
</html>
