<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Submit a new story </title>
  </head>

  <body>
    <h2>Submit a New Story</h2>
    <form action="/articles/new" method="post">
      <label for='article'> Add Article:</label>
      <input type="text" id="article" name="article">
      <input type="submit">
      <label for="URL"> URL:</label>
      <input type="text" id="url" name="url">
      <input type="submit">
      <label for="description">Description:</label>
      <textarea rows="5" cols ="10" id="description" name="description">
      </textarea>
      <input type="submit">

    </form>

  </body>
</html>
