<!DOCTYPE html>
<html>
  <head>
    <title> Teams </title>
    <link rel="stylesheet" href="/stylesheets/app.css">

  </head>
  <body>
   <h1> Team thangs </h1>
   <ul>
    <% @team_names.each do |team_name| %>
      <li>
        <a href="/teams/<%= team_name %>">
          <%= team_name %>
          
        </a>
      </li>
    <%end %>
  </ul>
  </body>
</html>
