<h1> Restaurant List </h1>
<%= link_to "Add New Restaurant", new_restaurant_path %>
<% if @restaurants.nil? %>
  Add a restaurant please
<% else %>
  <% @restaurants.each do |restaurant| %>
    <li>  <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></li>
  <% end %>
<% end %>
